body {
  //font-family: -apple-system, Helvetica, Arial, sans-serif;
  font-family: 'Quicksand', sans-serif;
  font-weight: 300;
  font-size: 12px;
  background-color: #000000;
  color: white;
  padding: 30px;

  background: url(images/water.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
table {
  border-spacing: 5px;
  //border-collapse: collapse;
}
table#week {
  margin-top: 25%;
}
.dot {
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: rgba(211, 211, 211, 0);
  margin-top: 5px;
  margin-bottom: 5px;
  float: left;
}
.colour1{
  background-color: rgba(205, 129, 0, 0.8);
}
.colour2 {
  background-color: rgba(47, 230, 171, 0.5);
}
.colour3 {
  background-color: rgba(27, 209, 230, 0.51);
}
.colour4 {
  background-color: rgba(230, 180, 0, 0.8);
}
.colour5 {
  background-color: rgba(230, 17, 0, 0.8);
}
.blank {
  background-color: rgba(247, 247, 247, 0);
}
.green {
  background-color: #4a9e00;
}
.colour-select {
  width: 20px;
  height: 20px;
  border-radius: 20px;
  display: inline-block;
  margin: 10px;
  border: 3px solid black;

  &.selected {
    border: 3px solid white;
  }
}

.spot-container {
  width: 100%;
  text-align: center;
  margin-top: 20px;
}

.spots-row td{
  vertical-align: top;
}
.spot-bubble {
  padding: 5px;
  border-radius: 20px;
  font-weight: 400;
  font-size: 14px;
  float: left;
  margin-right: 10px;
  width: 15px;
  height: 15px;
  color: white;

  &:hover {
    background-color: rgba(168, 205, 6, 0.78);
    cursor: pointer;
  }
}
.overlay {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.9);
  position: absolute;
  top: 0;
  left: 0;
}
.add-spot-container {
  width: 480px;
  z-index: 100;
  position: absolute;
  top: 20%;
  padding: 30px;
  left: 50%;
  margin-left:-240px;

  table {
    width: 100%;

    td {
      text-align: center;
      padding-right: 20px;
      padding-left: 20px;
    }

    .circle-range-select-wrapper {
     margin-left: 25px;
    }
  }

  .slider {
    margin-top:20px;
    margin-bottom:20px;
  }
  button {
    width: 100%;
    height: 60px;
    border: none;
    font-size: 18px;
    background-color: #2caea9;
    color: white;
    border-radius: 5px;
  }
  input#name {
    width: 100%;
    height: 60px;
    border: none;
    border: 1px solid #dbdbdb;
    font-size: 18px;
    color: black;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 20px;
  }
}
#swell-size-min:after, #swell-size-max:after {
  content: "m";
}
#wind-min:after, #wind-max:after {
  content: "kts";
}


#add-spot {
  display: none;
}
.spot-title {
  line-height: 20px;
  font-weight: 600;

  .dot {
    margin-right: 5px;
  }
}
tr.spots-row td:first-child {
  min-width: 150px;
}
td.date {
  margin-right: 4px;
  padding-bottom: 50px;
  font-size: 16px;
  font-weight: 300;
  text-align: center;

  .date-number {
    opacity: 0.5;
  }
}

.line {
  position: absolute;
  border-top: 1px solid rgba(255, 255, 255, 0.15);
  width: 100vw;
  margin-top: -11px;
  z-index: -10;
}

.vertical-line {
  position: absolute;
  border-left: 1px solid rgba(255, 255, 255, 0.15);
  height: 300px;
  margin-left: -3px;
  z-index: -10;
}

.noUi-target {
  border: none;
  box-shadow: none;
}

.noUi-background {
  background-color: rgb(47, 47, 47);
  box-shadow: none;
}

.noUi-horizontal .noUi-handle {
  width: 24px;
  height: 24px;
  left: -17px;
  top: -10px;
}

.noUi-handle {
  border: none;
  border-radius: 15px;
}

.noUi-handle:before, .noUi-handle:after {
  display: none;
}

.noUi-horizontal {
  height: 5px;
}

#update-forecast {
  width: 30px;
  height: 30px;
  color: white;
  font-size: 16px;
  opacity: 0.5;

  &:hover {
    opacity: 1;
    cursor: pointer;
  }
}