$colour1: rgba(18, 63, 107, 0.7);
$colour2: rgba(30, 93, 132, 0.7);
$colour3: rgba(27, 209, 230, 0.7);
$colour4: rgba(53, 230, 182, 0.7);
$colour5: rgba(110, 230, 143, 0.7);
$colour6: rgba(145, 230, 63, 0.7);
$colour7: rgba(230, 180, 0, 0.8);
$colour8: rgba(205, 129, 0, 0.8);
$colour9: rgba(230, 17, 0, 0.8);
$colour10: rgba(230, 11, 55, 0.8);



body {
  //font-family: -apple-system, Helvetica, Arial, sans-serif;
  font-family: 'Quicksand', sans-serif;
  font-weight: 300;
  font-size: 12px;
  background-color: #000000;
  color: white;
  padding: 30px;
  //-webkit-font-smoothing: subpixel-antialiased;
  -webkit-font-smoothing: antialiased;

  background: url(images/water.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#main-page {
  transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-out;
}
.container {
  width: 1400px;
  margin-left: auto;
  margin-right: auto;
  margin-right: auto;
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: rgba(211, 211, 211, 0);
  margin-top: 5px;
  margin-bottom: 5px;
  float: left;
}
.colour1 {
  background-color: $colour1;
}
.colour2 {
  background-color: $colour2;
}
.colour3 {
  background-color: $colour3;
}
.colour4 {
  background-color: $colour4;
}
.colour5 {
  background-color: $colour5;
}
.colour6 {
  background-color: $colour6;
}
.colour7 {
  background-color: $colour7;
}
.colour8{
  background-color: $colour8;
}
.colour9 {
  background-color: $colour9;
}
.colour10 {
  background-color: $colour10;
}



.blank {
  background-color: rgba(247, 247, 247, 0);
}
.green {
  background-color: #4a9e00;
}
.colour-select {
  width: 20px;
  height: 20px;
  border-radius: 20px;
  display: inline-block;
  margin: 5px;
  border: 3px solid black;

  &.selected {
    border: 3px solid white;
  }
}

.spot-container {
  width: 100%;
  text-align: center;
  margin-top: 20px;
}

.spots-row td{
  vertical-align: top;
}
.spot-bubble {
  padding: 5px;
  border-radius: 20px;
  font-weight: 400;
  font-size: 14px;
  float: left;
  margin-right: 10px;
  width: 15px;
  height: 15px;
  color: white;

  &:hover {
    background-color: rgba(168, 205, 6, 0.78);
    cursor: pointer;
  }
}
.overlay {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 0;
  left: 0;
}
.add-spot-container {
  width: 480px;
  z-index: 100;
  position: absolute;
  top: 10%;
  padding: 30px;
  left: 50%;
  margin-left:-240px;

  table {
    width: 100%;

    td {
      text-align: center;
      padding-right: 20px;
      padding-left: 20px;
    }

    .circle-range-select-wrapper {
     margin-left: 25px;
    }
  }

  .slider {
    margin-top:20px;
    margin-bottom:20px;
  }
  button {
    width: 100%;
    height: 60px;
    border: none;
    font-size: 18px;
    color: white;
    border-radius: 5px;
    transition: background-color 0.5s ease;
  }
  input#name {
    width: 100%;
    height: 60px;
    border: none;
    border: 2px solid rgba(255, 255, 255, 0.2);
    font-size: 18px;
    color: white;
    background-color: transparent;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 20px;
  }
  .colour-select-row {
    padding: 30px;
  }
}
#swell-size-min:after, #swell-size-max:after {
  content: "m";
}
#wind-min:after, #wind-max:after {
  content: "kts";
}


#add-spot {
  display: none;
}


.noUi-target {
  border: none;
  box-shadow: none;
}

.noUi-background {
  background-color: rgb(47, 47, 47);
  box-shadow: none;
}

.noUi-horizontal .noUi-handle {
  width: 24px;
  height: 24px;
  left: -17px;
  top: -10px;
}

.noUi-handle {
  border: none;
  border-radius: 15px;
}

.noUi-handle:before, .noUi-handle:after {
  display: none;
}

.noUi-horizontal {
  height: 5px;
}

.noUi-connect {
  background-color: rgba(255, 255, 255, 0.87);
}

#update-forecast {
  width: 30px;
  height: 30px;
  color: white;
  font-size: 16px;
  opacity: 0.5;

  &:hover {
    opacity: 1;
    cursor: pointer;
  }
}

#add-spot-modal {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  font-weight: 700;
  padding:8px;
  background-color: rgba(240, 248, 255, 0.11);
  width: 100px;
  border-radius: 20px;

  &:hover {
    background-color: rgba(240, 248, 255, 0.21);
    cursor: pointer;
  }
}

#logo {
  width: 180px;
  position: relative;
  margin-right: auto;
  margin-left: auto;
  margin-top: 5%;
  img {
    width:180px;
  }
}